<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat datang di TokoSerbaAda</title>
</head>
<body>
    <img src="https://tse3.mm.bing.net/th?id=OIP.D5RE8hu4XijW8MGwjqMmmgHaEs&pid=Api&P=0&h=220" alt="Beras Porang Image">
    <h1>Selamat datang di TokoSerbaAda</h1>
    <p>Nama Produk: Beras Porang 250gram</p>
    <p>Harga: Rp.25000</p>
    <p>Deskripsi: Produk olahan dari umbi porang yang diolah menjadi butiran mirip beras. Umbi porang dikenal memiliki kandungan glukomanan yang tinggi, serat larut yang bermanfaat untuk pencernaan dan dapat membantu menurunkan kolesterol</p>
    <p>Stock barang: 5</p>
    <p>Nama: Nadhif Ryan Alvaro</p>
    <p>NPM:2306245730</p>
    <p>Kelas: PBP D</p>
</body>
</html>
